.SelectTrain{
    max-width: 1920px;
    margin: auto;
}
.mainContainer{
    width: 100%;
   
}

.middleSection{
    width: 100%;
    display: flex;
    gap: 50px;
    /* justify-content: space-evenly; */
    justify-content: center;
    padding: 0 20px;
    margin: auto;
}

.leftColumn{
    min-width: 360px;
    display: flex;
    flex-direction: column;
    padding: 90px 0;
    
}

.rightColumn{
    width: 100%;
    min-width: 800px;
}

.lastTicket{
    max-width: 380px;
    margin: auto;
}


.ticketsTitle {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 35.16px;
    text-align: left;
    margin-top: 94px;
}