.preloader{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(62,60,65);
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader * {
    color: #928F94;
}