
.progressBar_container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: gray;
    justify-content: space-between;
}
.items {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.item1 {
    background-color: rgba(62, 60, 65, 1);
    width: 620px;
    height: 98px;
    clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
}




.item2 {
    margin-left: -25px;
    background-color: rgba(62, 60, 65, 1);
    width: 340px;
    height: 98px;
    clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%, 6% 50%);
    shape-outside: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%, 6% 50%);
}




.item3 {
    margin-left: -25px;
    background-color: rgba(62, 60, 65, 1);
    width: 380px;
    height: 98px;
    clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%, 6% 50%);
    shape-outside: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%, 6% 50%);
}



.item4 {
    margin-left: -25px;
    background-color: rgba(62, 60, 65, 1);
    width: 650px;
    height: 98px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 92% 100%, 0% 100%, 4% 50%);
    shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 92% 100%, 0% 100%, 6% 50%);

}


.itemContainer {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}